.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.title {
	font-size: 4rem;
	background: linear-gradient(to bottom, #194c33, #bbb);
	margin-bottom: 2rem;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;

	font-weight: bold;
	margin: 0; /* কোন মার্জিন নেই */
	text-transform: uppercase; /* বড় হাতের অক্ষর */
	letter-spacing: 2px; /* অক্ষরের মাঝে ফাঁকা */
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /* হালকা শ্যাডো */
}

.description {
	margin-bottom: 2rem;

	font-size: 1.2rem;
	font-weight: 400;
	margin-top: 20px; /* টাইটেলের সাথে সামান্য গ্যাপ */

	max-width: 700px;
}
